.title {
    font-size: 22px;
    color: var(--primary-color);
    font-weight: 400;
}

.file {
    display: block;
    width: 104px;
    height: 104px;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    &[href$=".pdf"] {
        background-image: url('./icons/pdf.svg');
    }

    &[href$=".xlsx"] {
        background-image: url('./icons/xlsx.svg');
    }
}


.registration_time {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    margin: 0;
    margin-bottom: 8px;
    > span {
        font-weight: 300;
    }
}


.street {
    display: flex;
    align-items: self-end;
    margin-top: 15px;

    .street_icon {
        display: block;
        width: 15px;
        height: 15px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-image: url('./icons/bx_map.svg');
    }
   .street_name {
       color: var(--primary-color);
       font-size: 12px;
       font-style: normal;
       font-weight: 400;
       line-height: normal;
       text-decoration-line: underline;
       margin-left: 5px;
   }
}

.file_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    > p {
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 10px;
    }
}

.two_file {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5px;
}

.map_village {
    margin-top: 15px;
    img {
        width: 100%;
        height: 100%;
    }
}

.contacts {
    margin: 0;
    margin-bottom: 3px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
}

.navigation {
    display: flex;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 10px;
    text-decoration: none;
    align-items: center;
    justify-content: space-between;
    &:last-of-type {
        margin-bottom: 0px;
    }
    > p {
        color: var(--primary-color);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 10px 22px;
    }
    .navigation_icon {
        display: block;
        width: 15px;
        height: 15px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-image: url('./icons/vector.svg');
        margin: 13px 18px;
    }
}