:root {
  --page-width: 400px;
  --bar-height: 103px;
  --primary-color: #21A038;
  --second-color: #FF8000;
}

*, *:after, *:before { box-sizing: border-box }

html { font-size: 62.5% }

body { font: 1.2em 'Roboto' }

h1, h2, h3, ul, ol, li, figure {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
