.page {
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 0 12px calc(var(--bar-height) + 30px);
}

.back {
  background: url('../../public/back.png') no-repeat;
  display: block;
  width: 238px;
  height: 170px;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.1;
  z-index: -1;
}

.head {
  margin-bottom: -10px;
}

.error-block {
    margin-top: 180px;
    text-align: center;
}

.error {
    color: var(--primary-color);
}
