@mixin icon($x) {
  &:global(##{$x}) {
    &:before {
      background-image: url('./icons/#{$x}.svg');
    }
    &:global(.-active):before {
      background-image: url('./icons/#{$x}-active.svg');
    }
  }
}

.wrapper {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-radius: 20px 20px 0 0;
  background-color: var(--primary-color);
  overflow: hidden;
}

.container {
  max-width: var(--page-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px;
  height: var(--bar-height);
}

.item {
  font-size: 10px;
  color: #fff;
  text-decoration: none;

  &:global(.-active) {
    color: #faed00;
  }

  &:before {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin: 0 auto 10px;
  }

  @include icon('main');
  @include icon('sport');
  @include icon('navigation');
  @include icon('events');
}
