.container {
  display: grid;
  margin: 17px 0 0;
  grid-auto-flow: column;
  grid-gap: 23px;
  justify-content: flex-start;
}

.item {
}

.description {
  width: min-content;
  margin: 8px auto 0;
  text-align: center;
}
