.container {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    color: var(--primary-color);

    tr > * {
        padding: 10px 5px;
    }
}

.row {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

    &:last-of-type {
        border-bottom: 0;
    }
}
